.el-menu{
    border-right: none;
}
.flow-hide-x .el-scrollbar__wrap {
    overflow-x: hidden;
    margin-bottom: 0 !important;
}
.el-scrollbar__thumb{
    display: none;
}

.el-icon-close {
    width: 16px;
    height: 16px;
    vertical-align: 2px;
    border-radius: 50%;
    text-align: center;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transform-origin: 100% 50%;
}
.el-icon-close:before {
    transform: scale(.6);
    display: inline-block;
    vertical-align: -3px;
}
.el-icon-close:hover{
    background-color: #b4bccc;
    color: #fff;
}
.el-header{
  padding: 0;
}
.el-menu--collapse .el-submenu>.el-submenu__title span,.el-menu--collapse .el-submenu>.el-submenu__title .el-submenu__icon-arrow{
  height: 0 !important;
  width: 0 !important;
  overflow: hidden;
  visibility: hidden !important;
  display: inline-block !important;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}